Relax NG/gm.rnc

start = gm
gm = element xml {source, poem}

source = element source {title*, author?, date?}
title = element title {level}
level = attribute level { "book" | "inner" }
author = element author {text}
date = element date {when}
when = attribute when {xsd:gYear}

poem = element poem { lg+,title, ref+, ln}
lg = element lg {ln+}
ln = element ln {n+, ref, text,  mixed{ (place | placeName | motif)*}}
n = attribute n {xsd:integer}

place = element place { ref+, text}
placeName = element placeName { ref+, text}
ref = attribute ref { "NYC-Harlem" | "NYC-PennST" | "NYC-Man" | "PR" | "Cuba" | "Ha" | "Ja" | "NYC" | "Ga" | "Fla" | "La" | "NYC-Harlem" | "NYC-Brook" | "NYC-Bronx"}
motif = element motif  {text}




