prac text/recipeSchema-1.rnc

# DIGIT 110 RELAX NG PRE-TEST HOMEWORK INSTRUCTIONS:  
# * You're downloading two files: Rename these files according to our standard file naming conventions for Canvas submissions (as in: beshero-rng4.xml and beshero-rng4.rnc)
# * Make the schema well-formed and document with  # comments where you made change(s). 
# * Then, associate the schema with the XML file we have provided for the exam.
# * Next, correct the schema code so that it validates the XML (happy green oXygen for both documents) and document briefly with # comments what you changed and why.
#  **NOTE**: DO NOT CHANGE the markup in the XML file, except to add your schema line!
#
# TIPS: 
# There are 13 critical errors in this Relax-NG schema that will make oXygen's error-checking box RED. Only a few of them will appear at first in the Relax NG. 
# More errors will be revealed when you associate the schema with the XML file.
# Your goal is to correct each of these errors.

# First, correct the schema file so it "turns green" in oXygen and write a comment to document each correction.
# Then, associate your corrected  schema with the XML (and remove the original schema line). 
# At that point the other validation errors will become evident in the XML file.)
# Remember to split your oXygen screen (Window -> Tile Editors Vertically), and carefully examine the XML to see how 
# the elements are written. 
# DO NOT CHANGE THE MARKUP IN THE XML FILE. Make ALL corrections in the Relax NG Schema to make the XML valid according to the schema.
# Save the schema and use the red checkmark in oXygen to check the validation as you go.
#
# SUBMITTING YOUR WORK:
# When you are finished, upload BOTH the schema and the XML file to Canvas using the posted upload point for this exam. 
# You may zip the files to submit them just as you have done for homework assignments.

start = xml
xml = element xml {metadata, recipe}
#added yield to meta data
metadata = element metadata {title, author, editor, source, time, yield}
title = element title {text}
author = element author {id, text}
editor = element editor {id, text}
#put text instaed of empty in source and added url
source = element source {text, url}
time = element time {dur, text}
#fixed is back to id
id = attribute id {xsd:ID}
url = attribute url {xsd:anyURI}
dur = attribute dur {xsd:duration}
#defined yield
yield = element yield {text}

recipe = element recipe {ingList, prep}
ingList = element ingList {heading, ing+}
heading = element heading {text}
ing = element ing {id, quant?, unit?, mixed{alt*}}
alt = element alt {quant, unit, text}
quant = attribute quant {xsd:float}
#added pint
unit = attribute unit {"cup" | "T" | "t"  | "pint" | "F" | "C" | "inch"}
#added * to step
prep = element prep {heading, step*}
#added quotation marks
step = element step {n, mixed{(equip | ingUse | equipUse | combine)*}}
#added size
equip = element equip {id, mixed{(equip | equipUse | setting | time | size | temp) *}}
#definded setting
setting = element setting {text}
temp = element temp {quant, unit, text}
size = element size {depth, unit, text}
depth = attribute depth {xsd:float}
equipUse = element equipUse {ref, mixed{(temp | size | equip | equipUse | ingUse | setting | time)*}}
ingUse = element ingUse {ref, quant, unit, text}
ref = attribute ref {xsd:IDREFS}
#added ingUsed
combine = element combine {ref,( text, ingUse?)*}
#changed it to integer i
n = attribute n {xsd:integer}










